* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

p, .name-form, .student-info, .week {
    margin: 2em 0;
}

.container {
    max-width: 70em;
    margin: 0 auto;
    padding: 4em 1em;
}

.title {
    margin: 0 0 1em 0;
    font-size: 2em;
}

.class-select {
    font-size: 1em;
    font-weight: bold;
}

.name-input {
    margin: 0.45em 0 0 0;
    font-size: 1em;
    padding: 0.4em;
}

.loading--hidden {
    display: none;
}

.student-info, .weeks .week:last-child {
    margin-bottom: 0;
}

.student-info--hidden {
    display: none;
}

.weeks {
    margin: 2em 0;
}

.week__title {
    margin: 1em 0;
}

.week__colles {
    list-style-type: none;

    /* Remove the margin on the sides. */
    margin: -0.5em;
    padding: 0;
}

.colle {
    margin: 0.5em;

    display: inline-block;
    width: 18em;
    padding: 1em;

    border-style: solid;
    border-width: 0.3em;
    border-radius: 0.5em;

    color: #FFFFFF;
}

.colle--subject-0 {
    background-color: #376A8B;
    border-color: #083757;
}

.colle--subject-1 {
    background-color: #34714D;
    border-color: #073D1E;
}

.colle--subject-2 {
    background-color: #9B3838;
    border-color: #570808;
}

.colle--subject-3 {
    background-color: #AF2FD0;
    border-color: #6C0094;
}

.colle--done {
    opacity: 0.7;
}

.colle--soon {
    border-color: #E5FF00;
}

.colle__subject, .colle__info {
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.colle__subject > a {
    color: #FFFFFF;
}

.colle__subject {
    font-weight: bold;
}

.data-credits--header {
    margin: 2.5em 0 0 0;
}

.data-credits--header, .data-credits--list {
    font-size: 0.8em;
}

.data-credits--list {
    margin: 0;
}

.data-credits--name {
    font-style: italic;
}

.data-credits__hidden {
    display: none;
}

@media (max-width: 30em) {
    body {
        text-align: center;
    }

    .week__colles {
        margin: -0.5em 0;
    }

    .colle {
        width: 100%;
        margin: 0.5em 0;
    }

    .data-credits--list {
        text-align: left;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121314;
        color: #FFFFFF;
    }
}
